 <h2 style="margin-top: 100px">Все авто</h2>
 <h3>@Model.currentCategory</h3>
 <div class="row mt-5 mb-2">
     @{
         foreach (var car in Model.allCars)
         {
             <div class="col-lg-4">
                 <img class="img-thumbnail" src="@car.Img" alt="@car.Name" />
                 <h2>@car.Name</h2>
                 <p>@car.Desc</p>
                 <p>@car.Price.ToString("c")</p>
                 <p><a class="btn btn-warning" href="#">About</a></p>
             </div>
         }
     }
 </div>

